* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

li {
  list-style: none;
  display: block;
  position: absolute;
  bottom: -120px;
  animation: up 3s infinite alternate;
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 0.7;
  }
  to {
    opacity: 0;
    transform: translateY(-900px) rotate(900deg);
  }
}



.buttons {
  margin: 30px 0;
  display: flex;
  gap: 40px;
}

p {
  margin-top: 10px;
  font-weight: bold;
}

.container {
  padding: 20px;
  background-color: #ffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90vw;
  width: 100%;
  position: relative; /* ou remova completamente */

}

button {
  padding: 10px;
  font-size: 50px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: opacity 0.5s ease-in-out;
}

button:hover {
  opacity: 0.7;
}

#pedra {
  background-color: rgb(132, 71, 1);
}

#papel {
  background-color: rgb(6, 200, 206);
}

#tesoura {
  background-color: rgb(230, 233, 4);
}
.you-score span {
  color: rgb(47, 90, 229);
}

.machine-score span {
  color: rgb(228, 111, 15);
}
